# directories
# project directory
.PVS-Studio
.idea
.gradle
build
gradle

# amshell module directory
amshell/build

# amshell_example module directory
amshell_example/build


# files
*.iml
*local.properties